 <!-- Hero Area Start-->
 <div class="slider-area ">
    <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="hero-cap text-center">
                        <h2>About us</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Hero Area End -->

    <app-support></app-support>
    <app-work></app-work>
    <app-testimonial></app-testimonial>
    <app-cv-uploader></app-cv-uploader>
   <app-blog></app-blog>