
<div class="slider-area">
  <div class="single-slider slider-height2 d-flex align-items-center"
     style="background-image: url('assets/img/hero/about.jpg');">
      <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-xl-3 col-lg-7 col-md-9 mb-4">
      <div class="p-4 shadow-sm rounded-3 bg-white border" style="margin-top: 80px;">
        <h4 class="mt-2 mb-4 fw-semibold border-bottom pb-2 d-flex align-items-center">
          <div class="icon me-2" style="margin-right: 5px">
            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="12px">
              <path fill-rule="evenodd" fill="rgb(27, 207, 107)"
                d="M7.778,12.000 L12.222,12.000 L12.222,10.000 L7.778,10.000 L7.778,12.000 ZM-0.000,-0.000 L-0.000,2.000 L20.000,2.000 L20.000,-0.000 L-0.000,-0.000 ZM3.333,7.000 L16.667,7.000 L16.667,5.000 L3.333,5.000 L3.333,7.000 Z" />
            </svg>
          </div>
          Filter Jobs
        </h4>
        <div class="mb-60">
          <label class="form-label fw-bold">Job Category</label>
          <select class="form-select" [(ngModel)]="selectedCategory" (change)="getAllFeaturedJobs()">
            <option value="">All Categories</option>
            <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
          </select>
        </div>
       <div class="mb-60">
          <label class="form-label fw-bold">Job Type</label>
          <select class="form-select" [(ngModel)]="selectedJobTypes" (change)="getAllFeaturedJobs()">
            <option value="">All Job Types</option>
            <option *ngFor="let jobtype of jobTypes" [value]="jobtype.id">{{ jobtype.name }}</option>
          </select>
        </div>
       <div class="mb-60">
          <label class="form-label fw-bold">Experience</label>
          <select class="form-select" [(ngModel)]="selectedExperienceLevel" (change)="getAllFeaturedJobs()">
            <option value="">All Experience</option>
            <option *ngFor="let experience of experienceLevels" [value]="experience.id">{{ experience.name }}</option>
          </select>
        </div>
      </div>
    </div>
     <div class="col-xl-8 col-lg-8 col-md-7">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h6 class="mb-0">{{ TotalCount }} Jobs found</h6>
        <h5>Find your Dream Job </h5>
      </div>
      <div *ngFor="let job of JobFeatured" class="single-job-items mb-30">
        <div class="job-items">
          <div class="company-img">
            <img [src]="job.imageUrl || 'assets/img/icon/job-list1.png'" alt="Company logo">
          </div>
          <div class="job-tittle">
            <h4>
              <a [routerLink]="['/job', job.id]" class="text-decoration-none text-dark">{{ job.title }}</a>
            </h4>
            <ul>
              <li>{{ job.companyName }}</li>
              <li><i class="fas fa-map-marker-alt"></i> {{ job.address?.addressLine1 }}, {{ job.address?.city }}</li>
              <li>{{ job.salary }}</li>
            </ul>
          </div>
        </div>
        <div class="items-link f-right">
          <span class="job-type">{{ job.jobType }}</span>
          <span class="publish-Date">
            {{ job.publishDate ? (job.publishDate | date:'mediumDate') : 'Just now' }}
          </span>
        </div>
      </div>
     <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item" [class.disabled]="PageNumber === 1">
            <a class="page-link" (click)="onPageChange(PageNumber - 1)">Previous</a>
          </li>
          <li *ngFor="let p of [].constructor(getTotalPages()); let i = index"
              class="page-item" 
              [class.active]="PageNumber === i + 1">
            <a class="page-link" (click)="onPageChange(i + 1)">{{ i + 1 }}</a>
          </li>
          <li class="page-item" [class.disabled]="PageNumber === getTotalPages()">
            <a class="page-link" (click)="onPageChange(PageNumber + 1)">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
